
.outfit{
    font-family: 'Outfit';
}
.quinte{
    font-family: 'Quintessential';
}

li{
    list-style: none;
    padding-inline: 5px;
}

body{
    background-image: url(../../public/storage/premium_photo-1674939147629-bfb664a1ae68.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 86.5vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

main{
    background-color: rgba(255, 255, 255, 0.417);
    border-radius: 5px;
    padding: 2rem;
    backdrop-filter: blur(4px);
    width: 57vw;
}

.toggle{
    border-radius: 5px;   
    margin: 10px;
    color: inherit;
    background-color: rgba(240, 248, 255, 0);
}
.progress{
    background-color: rgba(81, 145, 172, 0.73);
    color: white;
}
.completed{
    background-color: rgba(255, 255, 255, 0);
    color:  rgb(66, 127, 153);
}
.complet:hover{
    background-color: rgba(81, 145, 172, 0.73);
    color: white;
}
.incomplet:hover{
    background-color: rgb(255, 255, 255);
    color:  rgb(66, 127, 153);
}

button{
    padding: 5px;
    cursor: pointer;
    font-family: 'Outfit';
    font-size: 12pt;
    border: none;
    border-radius: 5px;
}

ul{
    padding: 0;
}
li{
    display: flex;
    width: 100%;
    align-items: center;
}
.div_list{
    width: 60%;
}
li>button{
    width: 19%;
}

.btn_delete{
    background-color: white;
    color:  rgb(66, 127, 153);
    border-radius: 5px;
    border: rgba(165, 42, 42, 0) 2px solid;
    margin: 10px;
}
.btn_delete:hover{
    color: brown;
    border: brown 2px solid;
    
}
span{
    color:  rgb(66, 127, 153);
}
.next{
    margin: 10px;
    margin-block: 3rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}